<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981798495432-qeo1tpactafb484e5223fvrjihglc8pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981798495432-qeo1tpactafb484e5223fvrjihglc8pa</string>
	<key>API_KEY</key>
	<string>AIzaSyAQI8xGUFogll0Rxephl4BZafTyaMy92NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981798495432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudMusic</string>
	<key>PROJECT_ID</key>
	<string>cloudmusic-be4b4</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudmusic-be4b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981798495432:ios:491114df3bced7fd45b1fd</string>
</dict>
</plist>